.TodoItem {
    margin-left: auto;
    margin-right: auto;
  
    border-radius: 5px;
    box-shadow: 1px 2px 5px 1px #ebbfe7;
    padding: 1rem;
    align-items: center;
  }
  
  .TodoItem + .TodoItem {
    margin-top: 15px;
  }
  
  .content {
    cursor: pointer;
    align-items: center;
  }
  
  .TodoItem .content svg {
    font-size: 3vh;
    color: #ebbdf1;
  }
  
  .content .text {
    margin-left: 0.5vw;
    width: 80%;
    word-break: break-all;

  }
  
  .content.checked .text {
    color: #6c567b;
    text-decoration: line-through;
    cursor: pointer;
    opacity: 0.6;
  }